body {
  background-color: #f9f9fa;
  margin: 0;
  padding: 0;
}

.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-card-container {
  width: 100%;
  max-width: 100%; /* Optional: Adjust the max-width as needed */
}

.user-card-full {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  height: 100vh;
  margin: 0; /* Menghapus margin */
  padding: 0; /* Menghapus padding */
}

.bg-c-lite-green {
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#f29263),
    to(#ee5a6f)
  );
  background: linear-gradient(to right, #ee5a6f, #f29263);
}

.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.text-muted {
  color: #919aa3 !important;
}

.user-card-full .social-link li {
  display: inline-block;
}

.user-card-full .social-link li a {
  font-size: 20px;
  margin: 0 10px 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 576px) {
  .user-card-full {
    height: 100%;
  }
}
